<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" href="../static/bootstrap.min.css">
	<link rel="stylesheet" href="../static/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>

	<style type="text/css">
		.headerClass{
			font-size : 3em;
			font-family :"Futura"; 
			text-align: center;
		}
		.textColor{
			color: #d9534f;
		}
		.formColor{
			color: white;
		}
		input[type="radio"]{
			margin-left: 3em;
			margin-top: 3em;
		}
		.radioBtnGrp{
			margin: 0 auto;
			text-align: center;
		}
		a.morelink {
			text-decoration:none;
			outline: none;
		}
		.morecontent span {
			display: none;
		}
		.reviewTextAlign{
			text-align : justify;
			padding-left: 2em;
			padding-right:2em;
			padding-bottom: 1em;
			padding-top: 1em;
		}
		.reviewDiv{
			background-color: black;
			width:800px;
			margin:0 auto;
		}
		.tableVisibility{
			display: none;
		}
		.reviewHeader{
			border-color: #ebccd1;
			background-color: #d9534f;
		}
		.rating {
			width:3em;
		}
	</style>
	<script>
		

		$(document).ready(function() {

			var cityName = null;
			var urlParams = window.location.search.substring(1).split('&');
			for (var i=0; i<urlParams.length; i++){
				var param = urlParams[i].split('=');
				if(param[0] == "city"){
					cityName = param[1];
				}
				if(param[0] == "keywords"){
					searchText = param[1];
				}
			}

			document.getElementById(cityName).checked = true;

			var showChar = 500;
			var ellipsestext = "...";
			var moretext = "Show More";
			var lesstext = "Show Less";
			$('.more').each(function() {
				var content = $(this).html();
				if(content.length > showChar) {

					var c = content.substr(0, showChar-1);
					var h = content.substr(showChar-1, content.length - showChar);

					var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

					$(this).html(html);
				}

			});

			$(".morelink").click(function(){
				if($(this).hasClass("less")) {
					$(this).removeClass("less");
					$(this).html(moretext);
				} else {
					$(this).addClass("less");
					$(this).html(lesstext);
				}
				$(this).parent().prev().toggle();
				$(this).prev().toggle();
				return false;
			});

		});
		

	</script>
	<script type="text/javascript">


		function myFunction(){
		  var query = document.getElementById("searchInput");
		  
		  var previoussearch = "{{reviewtext}}";
		  query.value = previoussearch;
		  var highLight = previoussearch.split(" "),
		  contents = document.getElementsByClassName("reviewpart");
		  for (j=0;j<contents.length;j++){
			  for( i = 0; i < highLight.length; i++ ){
			  	contents[j] = contents[j].getElementsByClassName("more");
			    contents[j].innerHTML = delimiter(contents[j].innerHTML, highLight[i]); 
			  }
			}
		}

		function delimiter(input, value) {
		  return input.replace(new RegExp('(\\b)(' + value + ')(\\b)','ig'), '$1<b>$2</b>$3');
		}


		window.addEventListener("load",myFunction);

		function showReviews(){
			console.log("button clicked!");
			var cities = document.getElementsByName('location');
			for (var i = 0, length = cities.length; i < length; i++) {
				if (cities[i].checked) {
					cityName = cities[i].value;
					console.log(cityName);
					break;
				}
			}
			//Get the input keywords
			searchText = document.getElementById("searchInput").value;
			console.log(searchText);
			document.getElementById("submitBtn").setAttribute("href","/reviews?city="+cityName+"&keywords="+searchText);

		}

		function onEnter(){
			if(event.charCode == 13){
				//alert("Please click Go! to proceed");
				return false;
			}
		}

	</script>
</head>

<body background="../static/bg.jpg">        
	<h3 class="headerClass textColor">Restaurant Recommendations System</h3>
	<h6 class="headerClass textColor">based on Yelp Reviews </h6>

	<form action="" class="radioBtnGrp formColor">
		<input type="radio" id="Las Vegas" name="location" value="Las Vegas">Las Vegas
		<input type="radio" id="Phoenix"  name="location" value="Phoenix">Phoenix
		<input type="radio" id="Pittsburgh"  name="location" value="Pittsburgh">Pittsburgh
		<input type="radio" id="Urbana-Baseline" name="location" value="Urbana-Baseline">Urbana Baseline
		<input type="radio" id="Urbana" name="location" value="Urbana">Urbana
		<input type="radio" id="Scottsdale" name="location" value="Scottsdale">Scottsdale
		<input type="radio" id="Charlotte" name="location" value="Charlotte">Charlotte
	</form>

	<form class="form-inline global-search" method='GET'>
		<br><br>

		<div class="form-group">
			<input id="searchInput" type="text" name="search" onkeypress="return onEnter()" class="form-control" placeholder="Your Input">
		</div>
		<a id="submitBtn" class="btn btn-danger" onclick="showReviews()"> Go! </a>
	</form>
	<br><br>
	<div class="reviewDiv" >
		<br>

		<table width="750" align="center">
			{% if reviews %}
			{% for review in reviews %}
			<tr>
				<td >
					<div class="panel" align="center">
						<div align="left" class="panel-heading reviewHeader" >
							Review : {{ forloop.counter }}  |  {{review.business.name}}
						</div>
						<div align="left" class="panel" style="margin-bottom: 0em">
							&nbsp;&nbsp;Under : {{review.business.categories}}
						</div>
						<div class="panel">
							<span style="float:left"> &nbsp;&nbsp;Date: {{ review.date }}	</span>					
							<span style="float:right">
								{% for val in review.stars %}
								{% if val == True%}
								<span class="rating">
									<span>&#x2605;</span>
								</span>
								{% else %}
								<span class="rating">
									<span>&#x2606;</span>
								</span>
								{% endif %}
								{% endfor %}&nbsp;
							</span>
						</div>
					<!-- <div class="reviewpart"> -->
					<div class="more reviewTextAlign reviewpart">
					<!-- <p class="reviewtext"> -->
						{{ review.text }}
					<!-- </p> -->						
					</div>
					<!-- </div> -->
					<a class="btn btn-danger" align="center" href="/moreReviews?city={{ city }}&review_id={{ review.review_id }}&reviewtext={{reviewtext}}">Find More Reviews</a>
					<a class="btn btn-danger" align="center" href="/showBusinesses?city={{ city }}&review_id={{review.review_id}}&business_id={{review.business.business_id}}&reviewtext={{reviewtext}}">Show Similar Businesses</a>
					<br><br>
				</div>
			</div>
		</td>				
	</tr>
	{% endfor %}
	{% else %}
	<tr>
		<td>
			<p class="radioBtnGrp formColor"> Sorry, no results found for your query! &#x2639; </p>
			<br>			
		</td>
	</tr>
	{% endif %}

</table>
</div>
</body>
</html>